header {
    padding: 25px;
    text-align: center;
    background: #83A3DB;
    color: white;
    border-radius: 20px;
  }
  
  
  .menuindex {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

  .menuindexsubmeter {
    width: 20%;
    background-color: #83A3DB;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
body {
    text-align: center;
}