html, body {width: 100%;height: 100%;}
body{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;background: #f2f2f2;margin: 0;letter-spacing: .3px;}
a { text-decoration: none; }
table {border-collapse: collapse;}
a:visited { text-decoration: none; }
aside, div{display: block}
ol, ul, dl {margin-top: 0;margin-bottom: 1rem;}
h1, h2, h3, h4, h5, h6 {color: #f98012;font-weight: 400;}
h5, .h5 {font-size: 1.171875rem;}
button, input {overflow: visible;}
.btn{cursor: pointer}
.form-control {display: block;width: 100%;padding: .375rem .75rem;font-size: .9375rem;line-height: 1.5;color: #495057;background-color: #fff;-webkit-background-clip: padding-box;
  background-clip: padding-box;border: 1px solid #ced4da;border-radius: 0;-webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

.barra {background: #83A3DB;width: 100%;overflow: hidden;padding-top: 4px;padding-bottom: 10px;text-align: center;}
.nome {font-size: 12pt;color: white;float: right;width: 50%;}
.Benvindo {padding-top: 10px;color: white;font-size: 2em;margin: 0;}
.menuindex {width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;}
.menuindexsubmeter {width: 100%;background-color: #83A3DB;color: white;padding: 15px 20px;margin: 8px 0;border: none;border-radius: 4px;cursor: pointer;}
.Login {height: 85vh;display: flex;flex-direction: row;justify-content: center;align-items: center;}
.main{width: 85%;overflow: hidden;}
.Form {position: relative;z-index: 1;background: #FFFFFF;max-width: 300px;margin: 0 auto 100px;padding-top: 20px;
    padding-bottom: 20px;padding-left: 100px;padding-right: 100px;border-top-left-radius: 3px;border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;text-align: center;}
.esqueceu {font-size: 12px;color: #ccc;text-decoration: none;}
.esqueceu :visited{text-decoration: none;color: #ccc;}

/*Footer*/
.copy{display: flex;justify-content: center;font-size: 14px;color: #a6a6a6;position: relative;width: 40%;margin: auto;}

/*Barra de topo*/
.texto{font-size: 10pt;color: white;}
.fixed-top{position: fixed;top: 0;right: 0;left: 0;z-index: 1030;}
.navbar-expand {flex-flow: row nowrap;justify-content: flex-start;}
.navbar{display: flex;align-items: center;justify-content: space-between;padding: .5rem 1rem;flex-wrap: wrap;
  background: #83A3DB;width: 100%;overflow: hidden;padding-top: 4px;padding-bottom: 10px;text-align: center;}
.navbar-nav{display: flex;flex-direction: column;padding-left: 0;margin-bottom: 0;list-style: none;}
.nav {flex-direction: row;}
.nav-link {display: block;padding: .5rem 1rem;}

/*Foto de perfil*/
.userpicture {border-radius: 50%;}

/*Icons*/
.icon {font-size: 16px;width: 16px;height: 16px;margin: 0;padding: 0;-webkit-box-sizing: content-box;box-sizing: content-box;margin-right: .5rem;}
.fa-fw {width: 1.2857142857em;text-align: center;}
.fa-eye-slash:before {content: "";}
.fa, .block_settings .block_tree [aria-expanded="true"]:before, .block_navigation .block_tree [aria-expanded="true"]:before, .block_settings .block_tree [aria-expanded="false"]:before, .block_navigation .block_tree [aria-expanded="false"]:before {
  display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.fa-calendar:before {content: "";}

*, *::before, *::after {-webkit-box-sizing: border-box;box-sizing: border-box;}

/*Regras !important*/
.search-input-wrapper>div {float: left;margin: 0;}
.d-flex {display: flex!important;}
.ml-auto, .mx-auto {margin-left: auto!important;}
.ml-3{margin-left: 3rem!important}
.mr-3 {margin-right: 1rem!important;}
.mr-1 {margin-right: .25rem!important;}
.m-b-1{margin-bottom: 1rem!important;}
.m-b-0{margin-bottom: 0!important;}
.mr-auto{margin-right: auto!important;}
.m-t-2{margin-top: 2rem!important;}
.d-inline-block {display: inline-block!important;}
.d-inline {display: inline!important;}
.align-items-center {align-items: center!important;}
.align-content-center {align-content: center!important;}
.p-3 {padding: 1rem!important;}
.m-t-1, .m-y-1 {margin-top: 1rem!important;}
.mt-3, .my-3 {margin-top: 1rem!important;}
.flex-wrap {flex-wrap: wrap!important;}
.pb-3, .py-3 {padding-bottom: 1rem!important;}
.pt-3, .py-3 {padding-top: 1rem!important;}
.p-3 {padding: 1rem!important;}
.p-0{padding: 0!important;}
.pr-1, .px-1 {padding-right: .25rem!important;}
.justify-content-start {justify-content: flex-start!important;}
.justify-content-end {justify-content: flex-end!important;}
.border-0 {border: 0!important;}
.bg-gray {background-color: #e9ecef!important;}
.bg-white {background-color: #fff!important;}
.border, .filemanager-container, .filepicker-filelist {border: 1px solid #dee2e6!important;}
/*Botão para abrir/fechar barra lateral*/
[data-action=toggle-drawer] .icon {margin: 0;}
.btn-light {color: #212529;background-color: #f8f9fa;border-color: #f8f9fa;}
.btn, #page-grade-grading-manage .actions .action, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input, #rubric-rubric.gradingform_rubric .addcriterion {
  display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;
  -ms-user-select: none;user-select: none;border: 1px solid transparent;padding: .375rem .75rem;font-size: .9375rem;line-height: 1.5;border-radius: 0;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;-o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.sr-only {position: absolute;width: 1px;height: 1px;padding: 0;overflow: hidden;clip: rect(0,0,0,0);white-space: nowrap;clip-path: inset(50%);border: 0;}

/*Nome do instituto do moodle*/
.navbar-light .navbar-brand, .navbar-brand:visited, .link-vis {color: rgba(0,0,0,.9);}
.navbar-brand {text-decoration: none;display: inline-block;padding-top: .32421875rem;padding-bottom: .32421875rem;margin-right: 1rem;font-size: 1.171875rem;line-height: inherit;white-space: nowrap;}
.d-none {display: none!important;}

/*Nome do user*/
.username{color: rgba(0,0,0,.9); margin: 0 1rem 0 0;font-size: 10pt}


/*Barra tradução*/
.navbar-expand .navbar-nav {flex-direction: row;}
.navbar-nav {display: flex;flex-direction: column;padding-left: 0;margin-bottom: 0;list-style: none;}
.navbar-light .navbar-nav .nav-link {color: rgba(0,0,0,.5);}
.navbar-expand .navbar-nav .nav-link {padding-right: .5rem;padding-left: .5rem;}
.navbar-expand .navbar-nav .dropdown-menu {position: absolute;float: none;}
.navbar.fixed-top .dropdown .dropdown-menu {max-height: calc(100vh - 50px);overflow-y: auto;}
.dropdown-item, .dropdown-item:visited, .dropdown-item:hover{display: block;width: 100%;padding: .25rem 1.5rem;clear: both;font-weight: 400;color: #212529;text-align: inherit;white-space: nowrap;background-color: transparent;border: 0;}
.dropdown-toggle::after{display: inline-block;width: 0;height: 0;margin-left: .255em;vertical-align: .255em;content: "";border-top: .3em solid;border-right: .3em solid transparent;border-bottom: 0;border-left: .3em solid transparent;}
.dropdown-menu.show {display: block;}
.dropdown-menu {position: absolute;top: 100%;left: 0;z-index: 1000;display: none;float: left;min-width: 10rem;padding: .5rem 0;margin: .125rem 0 0;font-size: .9375rem;color: #336;text-align: left;list-style: none;background-color: #fff;-webkit-background-clip: padding-box;background-clip: padding-box;border: 1px solid rgba(0,0,0,.15);}
.flag-usa {background: url('../../images/us.png');background-size: cover;background-position: center center;}
.flag-pt {background-size: cover;background-position: center center;background: url('../../images/pt.png');}

/*Barra de pesquisa*/

.search-input-wrapper {margin: 0 1rem 0 0;overflow: hidden;float: right;width: 300px;-webkit-transition: width .5s ease,left .5s ease;-o-transition: width .5s ease,left .5s ease;transition: width .5s ease,left .5s ease;}
.search-input-wrapper>form>input {margin: 0;}
.ml-dados{margin-left: 10%!important}


/*Viewport, ajuste da página conforme o tamanho da janela*/
@media (min-width: 576px){.card-deck {flex-flow: row wrap;margin-right: -.25rem;}}
@media (min-width: 1236px){body.drawer-open-left #region-main.has-blocks .dashboard-card-deck .dashboard-card {width: calc(50% - .5rem);}}
@media (min-width: 1200px){.container {max-width: 1140px;}}
@media (min-width: 576px){.col-sm {flex-basis: 0%;flex-grow: 1;max-width: 100%;}}
@media (min-width: 768px){.d-md-inline {display: inline!important;}}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}.w3-auto{max-width:100%}}
@media (min-width: 576px){.float-sm-left {float: left!important;}}
@media (min-width: 576px){.d-sm-inline {display: inline!important;}}
@media (min-width: 768px){.d-md-inline {display: inline!important;}}
@media (min-width: 992px){.d-lg-block {display: block!important;}}
.col-1, .col-xs-1, .col-2, .col-xs-2, .col-3, .col-xs-3, .col-4, .col-xs-4, .col-5, 
.col-xs-5, .col-6, .col-xs-6, .col-7, .col-xs-7, .col-8, .col-xs-8, .col-9, .col-xs-9, 
.col-10, .col-xs-10, .col-11, .col-xs-11, .col-12, .col-xs-12, .col, .col-auto, .col-sm-1, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, 
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, 
.col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, 
.col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {position: relative;width: 100%;min-height: 1px;padding-right: 15px;padding-left: 15px;}

/*Barra Lateral*/

.w3-bar .w3-bar-item{padding:14px 16px;float:left;width:auto;display:block;outline:0}
.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:14px 16px;text-align:left;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:14px 16px}
.w3-card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-button{display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;cursor:pointer;white-space:nowrap}
.w3-main,#main{transition:margin-left .4s}
.w3-bar-padd{padding-top: 7rem}
.w3-bar-border{border: 1px solid rgba(0,0,0,.125);}
.w3-bar-active{z-index: 2;color: #fff;background-color: #1177d1;border-color: #1177d1;}

/*Links*/
a{background-color:transparent;-webkit-text-decoration-skip:objects}

/*Container (Conteúdo central)*/

#page-wrapper #page {flex: 1 0 auto;display: flex;flex-direction: column;}
#page-content {flex: 1 0 auto;}
.card-body{margin-top: 5rem;}
.card-body, .card-body-class{flex: 1 1 auto;background-color: #fff;-webkit-background-clip: border-box;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);}
.card{position: relative;display: flex;flex-direction: column;min-width: 0;word-wrap: break-word;}
.row {display: flex;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;}
.col-12, .col-xs-12 {flex: 0 0 100%;max-width: 100%;}
.block_myoverview .content {min-height: 19.35rem;}
.card-title {margin-bottom: .75rem;}
.card-text:last-child {margin-bottom: 0;}
#region-main.has-blocks {display: inline-block;width: calc(100% - 475px);}


/*Container dados pessoais*/
.large {width: 100%}
#region-maindados.has-blocks {display: inline-block; width: calc(80% - 100px);}

/*Vista das Disciplinas*/
.container-fluid {width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
.card-deck {display: flex;}
.block .block-cards .multiline {white-space: normal;}
.block .block-cards a.coursename, .block .block-cards .btn-link {color: inherit;}
.block .block-cards .course-info-container {padding: .8rem;}
.block .block-cards .btn.btn-link.btn-icon{height: 36px;width: 36px;padding: 0;border-radius: 50%;}
.block_myoverview .paged-content-page-container {min-height: 13rem;}
.dashboard-card-deck .dashboard-card .dashboard-card-img {height: 7rem;background-position: center;-webkit-background-size: cover;background-size: cover;}
.card-img {width: 100%;}
.dashboard-card-deck .dashboard-card {margin-bottom: 1.5rem;margin-right:1.5rem;flex-basis: auto;flex-grow: 0;flex-shrink: 0; width: 30%}
.block .block-cards .icon {margin-right: 0;}
.dashboard-card-deck .dashboard-card .dashboard-card-footer {padding-top: .8rem;}
.block .block-cards .progress {height: .5rem;}
.progress {display: flex;height: 1rem;overflow: hidden;font-size: .703125rem;background-color: #e9ecef;}
.progress-bar {display: flex;flex-direction: column;justify-content: center;color: #fff;text-align: center;background-color: #1177d1;-webkit-transition: width .6s ease;-o-transition: width .6s ease;transition: width .6s ease;}

/*Texto barra progresso*/
.small{font-size: 80%;font-weight: 400;}

/*Botões*/
.btn {display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;border: 1px solid transparent;padding: .375rem .75rem;font-size: .9375rem;line-height: 1.5;border-radius: 0;}
.btn-outline-secondary {color: #868e96;background-color: transparent;background-image: none;border-color: #dee2e6;}
.icon-size-3 .icon {height: 16px!important;width: 16px!important;font-size: 16px!important;}
.block .block-cards .card .coursemenubtn {margin-top: -.5rem;}

/*Coluna direita do conteudo central*/
[data-region="blocks-column"] {width: 360px;float: right;}

/*Timeline*/
.no-gutters {margin-right: 0;margin-left: 0;}
.no-gutters>.col, .no-gutters>[class*="col-"] {padding-right: 0;padding-left: 0;}
.border-bottom {border-bottom: 1px solid #dee2e6!important;}
.text-center {text-align: center!important;}
.text-muted{color: #868e96!important;}

/*Calendario*/
.calendar_event_site {background-color: #d6f8cd;}
.calendar_event_category {background-color: #d8bfd8;}
.calendar_event_course {background-color: #ffd3bd;}
.calendar_event_group {background-color: #fee7ae;}
.calendar_event_user {background-color: #dce7ec;}
.block .calendar_filters li {margin-bottom: .2em;}
.block .calendar_filters ul {list-style: none;margin: 0;padding: 0;}
.block .calendar_filters li .icon {vertical-align: initial;margin: 0 .1rem 0 .4rem;}
.maincalendar {vertical-align: top;padding: 0;}
.maincalendar .heightcontainer {height: 100%;position: relative;}
.calendar-controls .current {display: block;float: left;}
.calendarwrapper {position: relative;}
.maincalendar .controls {width: 98%;margin: 10px auto;}
.maincalendar .calendar-controls .previous{width: 30%;}
.calendar-controls .previous {text-align: left;border: 1px solid transparent;}
.maincalendar .calendar-controls .current, .current {width: 39.95%;}
h2, .h2, .maincalendar .calendar-controls .current {font-size: 1.875rem;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .maincalendar .calendar-controls .current, .h3, .h4, .h5, .h6 {margin-bottom: .5rem;font-family: inherit;line-height: 1.2;}
.maincalendar .calendar-controls .previous, .path-calendar .maincalendar .calendar-controls .next {width: 30%;}
.calendar-controls .next {text-align: right; border: 1px solid transparent;}
.hidden {display: none;}
.overlay-icon-container {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(255,255,255,.6);}
.maincalendar .calendarmonth {width: 98%;margin: 10px auto;}
.maincalendar .calendarmonth th {border: 1px dotted #dee2e6;}
.calendartable th, .calendartable td {width: 14%;vertical-align: top;text-align: center;}
.calendarmonth td {height: 5em;}
.maincalendar .calendartable td {padding: 0 4px 4px 4px;}
