<section data-region="blocks-column" class="d-print-none">
    <aside id="block-region-side-pre" class="block-region">
        <section class=" block block_timeline  card mb-3">
            <div class="card-body p-3">
                <h5 class="card-title d-inline">Cronograma</h5>
                <div class="card-text content mt-3">
                    <div class="block-timeline">
                        <div class="container pb-3 border-bottom">
                            <div class="row no-gutters">
                                <div class="col-sm d-flex justify-content-start">
                                    <div class="dropdown">
                                        <button type="button"
                                            class="btn btn-outline-secondary dropdown-toggle icon-no-margin"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon fa fa-clock-o fa-fw " aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm d-flex justify-content-end">
                                    <div class="btn-group">
                                        <button type="button"
                                            class="btn btn-outline-secondary dropdown-toggle icon-no-margin"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon fa fa-filter fa-fw " aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container p-0">
                            <div class="text-xs-center text-center mt-3" data-region="empty-message"
                                id="yui_3_17_2_1_1555612201078_1469">
                                <img src="images/activities.svg" alt="No upcoming activities due"
                                    style="height: 70px; width: 70px">
                                <p class="text-muted m-t-1">Nenhuma atividade a terminar brevemente</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</section>