<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html" />
    <meta charset=utf-8>
    <meta name="author" content="Ricardo Braz e Pedro Gomes" />
    <link rel="shortcut icon" type="image/png" href="images/simbolologin.png" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="assets/css/login_template.css">
    <script src="assets/js/funcoes.js"></script>
    <title>Moodle</title>
    
</head>

<body>