<footer class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"><span class="text-muted">© 2019 Copyright:</span>
        <a href="index.php"><img src="images/m.png"  /></a>
    </div>
    <!-- Copyright -->

</footer>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/00df0b3ac0.js"></script>
<script src="assets/js/pwd.js"></script>
</body>

</html>