<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <div class="w3-bar-padd">
        <a href="dashboard.php" class="w3-bar-item w3-button w3-bar-border w3-bar-active"><i
                class="icon fa fa-tachometer fa-fw" aria-hidden="true"></i>Painel de utilizador</a>
        <a href="dashboardDadosPessoais.php" class="w3-bar-item w3-button w3-bar-border"><i
                class="icon fa fa-user-circle-o fa-fw" aria-hidden="true"></i>Os meus dados</a>
        <a href="noticias.php" class="w3-bar-item w3-button w3-bar-border"><i class="icon fa fa-newspaper-o fa-fw"
                aria-hidden="true"></i>Noticias</a>
        <a href="calendario.php" class="w3-bar-item w3-button w3-bar-border"><i class="icon fa fa-calendar fa-fw"
                aria-hidden="true"></i>Calendário</a>
        <a href="dashboardtimeline.php" class="w3-bar-item w3-button w3-bar-border"><i
                class="icon fa fa-area-chart fa-fw" aria-hidden="true"></i>Cronograma do curso</a>
        <a href="dashboardnotificacoes.php" class="w3-bar-item w3-button w3-bar-border"><i
                class="icon fa fa-bell-o fa-fw" aria-hidden="true"></i>Notificações</a>
        <a href="ficheiros.php" class="w3-bar-item w3-button w3-bar-border"><i class="icon fa fa-folder-o fa-fw"
                aria-hidden="true"></i>Os meus ficheiros</a>
        <a href="logout.php" class="w3-bar-item w3-button w3-bar-border"><i class="icon fas fa-lock fa-fw"
                aria-hidden="true"></i>Sair</a>
    </div>
</div>